// Contents copied from: redsail_skin/sass/component/_header.scss
// Contents copied from: theme_base/sass/component/_header.scss
.lia-quilt-row.lia-quilt-row-main-header {
    display: flex;
    width: auto !important;
    background-color: $theme-color-background;
    transition: all ease-in-out 0.5s;
    padding-top: $theme-space-small;
    padding-bottom: $theme-space-small;

    .lia-quilt-column.lia-quilt-column-20.lia-quilt-column-left.lia-quilt-column-header-left {
        width: auto;
        flex-grow: 1;
        padding-right: 0;

        .horizontal-nav {
            background: transparent;
            display: flex;
            align-items: center;


            .slide-out-menu {
                padding: 4px 0;


            }

            ul.custom-sub-nav {
                margin-bottom: 0;
                padding: 0;
                position: relative;
                float: left;
                left: 0;

                &.visible-lg-block {
                    @media (min-width: $screen-lg-min) {
                        display: flex !important;
                        align-items: center;
                        width: 100%;
                    }
                }

                a.top-level-link.menuitem {
                    color: $theme-color-primary;
                    font-weight: 700;
                    text-transform: uppercase;
                    border-radius: $border-radius-large;

                    &:after {
                        color: $theme-color-primary;
                    }

                    &:hover:after {
                        color: $theme-color-background;
                    }

                    &:hover {
                        color: $theme-color-background;
                        background-color: $theme-color-primary;
                    }
                }

                li {
                    a {
                        font-size: $theme-type-size-small;
                        display: inline-block;
                        padding: $padding-base-vertical 0;
                        width: 100%;
                        font-weight: 500;

                        @media (min-width: $screen-lg-min) {
                            padding: $padding-base-vertical $padding-large-horizontal;
                        }

                        cursor: pointer;

                        &:hover,
                        &:active {
                            color: $theme-color-primary;
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        background: inherit;
                        color: $theme-color-primary;

                        &:after {
                            color: $theme-color-primary;
                        }

                        .header-sub-nav {
                            display: block;
                        }
                    }

                    &.expanded {
                        .header-sub-nav {
                            display: block;
                        }
                    }

                    &.has-children {
                        &:hover {
                            color: $theme-color-background;
                            background-color: $theme-color-primary;
                            border-radius: $border-radius-large;

                            >a {
                                color: $theme-color-background;

                                &:after {
                                    color: $theme-color-background;
                                }

                            }
                        }

                        >a {

                            &:after {
                                font-size: $theme-type-size-xsmall;
                            }

                        }
                    }

                    .header-sub-nav {
                        margin-bottom: 0;
                        background: $theme-color-background;
                        display: none;
                        position: absolute;
                        text-align: left;
                        top: $theme-nav-dropdown-offset;
                        left: 0;
                        z-index: 11;
                        min-width: 100%;
                        border-radius: 0 $border-radius-large $border-radius-large;
                        box-shadow: 0 20px 45px rgba(0, 0, 0, 0.08);
                        border-top: 3px solid $theme-color-primary;
                        background-color: $theme-color-background;
                        -webkit-transition: -webkit-transform .2s ease-out;
                        transition: -webkit-transform .2s ease-out;
                        transition: transform .2s ease-out;
                        transition: transform .2s ease-out, -webkit-transform .2s ease-out;
                        -webkit-transform: translate3d(0, -5px, 0);
                        transform: translate3d(0, -5px, 0);
                        z-index: 1500;

                        li {
                            clear: both;
                            float: left;
                            width: 100%;

                            &:hover {
                                background: $theme-color-background-secondary;
                                color: $theme-color-foreground;

                                a {

                                    color: $theme-color-foreground;

                                }
                            }

                            &.depth2 {
                                border-bottom: 1px solid #f4f4f4;

                                &:hover {
                                    background-color: #f8f9fa;
                                }
                            }

                            &.depth3 {
                                padding-left: 15px;
                                border-bottom: 1px solid #f4f4f4;

                                &:hover {
                                    background-color: #f8f9fa;
                                }

                            }


                        }
                    }
                }

                @media (min-width: $screen-lg-min) {
                    padding: 0;
                    left: 0;
                }
            }

            ul.custom-sub-nav li.community-link {
                flex-grow: 1;
                padding: 16px 0;

                a {
                    background: url("/html/assets/Publiq-Logo-NEW-209X75.png") no-repeat;
                    background-size: cover;
                    height: 39px;
                    width: 110px;
                    padding: 0;

                    @include media(large-desktop) {
                        height: 75px;
                        width: 209px;
                    }



                    span {
                        display: none;
                    }

                }
            }
        }
    }

    .lia-quilt-column.lia-quilt-column-04.lia-quilt-column-right.lia-quilt-column-header-right {
        width: auto;
        padding-left: 0;
        float: none;

        .lia-slide-out-nav-menu {
            .lia-slide-out-nav-menu-wrapper {
                padding: 10px 13px;
                margin-left: 10px;
                background-color: $theme-color-primary;
                border-radius: $border-radius-large;

                &:before {
                    content: $fa-var-bars;
                    background: none;
                    color: $theme-color-background;
                    padding: 0;
                    font-size: $theme-type-size-small;
                }

            }
        }

        .lia-header-actions {
            padding: 14px 1px;
            float: none;
            display: flex;
            align-items: center;

            @include media(large-desktop) {
                padding: 34px 1px;
                margin-left: 70px;
            }

            @media (min-width: $screen-md-min) {
                right: auto;
            }

            >.login-link {
                padding-right: 0;
                position: relative;
                padding: 0;

            }

            >.lia-component-users-widget-menu {
                @media (min-width: $screen-md-min) {
                    padding-right: 0px;
                }
            }
        }
    }
}

.lia-top-quilt {
    >.lia-quilt-row-header .lia-quilt-row-sub-header {
        background-color: #585858;
        border-bottom: 5px solid #ccc;

        .lia-component-common-widget-page-title {
            display: inline-block;
            color: $theme-color-background;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
                border-bottom: 5px solid #c32032;
                bottom: -103px;
            }

            >.lia-link-navigation {
                color: $theme-color-background;
            }
        }
    }
}

.lia-quilt-row.lia-quilt-row-main-header .lia-quilt-column.lia-quilt-column-04.lia-quilt-column-right.lia-quilt-column-header-right .lia-header-actions>.login-link {
    padding-right: 0;
    position: relative;
    padding: 17px 10px;
    font-size: $theme-type-size-small;
    margin-right: 30px;

    @include media(phone) {
        font-size: 0;
    }

    &:before {
        position: absolute;
        top: 0px;
        right: -30px;
        width: auto;
    }


}