// Contents copied from: redsail_skin/sass/page/_forum.scss
// Contents copied from: theme_base/sass/page/_forum.scss
#lia-body.ForumTopicPage .lia-content {
    .lia-message-view-display {
        border: 1px solid $theme-color-grey-border;
        padding: 20px 15px;
        max-width: none;
        border-radius: 8px;
    }

    .lia-panel-message {
        border-bottom: none;
    }
}

#lia-body.ForumPage .lia-content {
    .page-controls {
        float: none;
        width: auto;
    }
}