// Contents copied from: redsail_skin/sass/component/_page-title.scss
// Contents copied from: theme_base/sass/component/_page-title.scss
.lia-quilt-row-sub-header .lia-component-common-widget-page-title>.lia-link-navigation {
    color: $theme-color-primary;
    border-bottom: 4px solid #e9e9e9;
}

%page-title-small {
    @extend %page-title;

    @media (min-width: $screen-sm-min) {
        font-size: $theme-type-size-xxxxlarge;
        line-height: $theme-line-height-xxxxlarge;
    }
}